h3 {
    margin: 0;
}

h2 {
    margin: 0;
}

.coin-container {
    margin-top: 60px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
}

.coin-numbers {
    display: flex;
    justify-content: center;
}

.coin-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    text-align: center;
}

.coin-boxes {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    /* width: 80%; */
}

.titlearea-show-page img {
    height: 200px;
    width: 200px;
}

.coin-numbers {
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 140px 140px 140px;
    align-items: center;

}