h3 {
    margin: 0;
}

h2 {
    margin: 0;
}

.coin-container {
    margin-top: 60px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
}

.coin-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.titlearea-show-page {
    font-family: 'Saira Semi Condensed', sans-serif;
}

.titlearea-show-page h2 {
    font-size: 30px;
}

.titlearea-show-page h3 {
    font-size: 20px;
}

.show-image {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
}

.coin-numbers {
    box-shadow: 10px 10px 20px 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: rgb(218, 218, 218);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px;
    align-items: center;
    margin-bottom: 80px;
    font-size: 19px;
    height: auto;
    width: 80vw;
    padding-top: 50px;
    padding-bottom: 50px;
}

.coin-numbers h3 {
    font-family: 'Saira Semi Condensed', sans-serif;
    font-weight: 500;
}

.coin-numbers p {
    font-size: 16px;
    color: rgb(54, 54, 54);
}
@media screen and (max-width: 975px) {
    .coin-numbers {
        width: 90vw;
    }
}