.App {
  background-color: rgb(228, 228, 228);
  font-family: 'Heebo', sans-serif;
  height: 100vh;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.crypto-list {
  display: flex;
  justify-content: center;
  background-color: rgb(228, 228, 228);
}

#dark .crypto-list {
  background-color: rgb(25, 25, 25);
}

.crypto-list a {
  text-decoration: none;
}

.crypto-list a:active {
  text-decoration: none;
}

.crypto-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid #272761;
  width: 80vw;
  color: rgb(45, 45, 45);
  transition: all .4s ease-out;
}

#dark .crypto-row {
  color:rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
}

.crypto-row:hover {
  background-color: rgb(209, 209, 209);
}

#dark .crypto-row:hover {
  background-color: rgb(45, 45, 45);
}

.crypto-row:active {
  background-color: rgb(209, 209, 209);
}

#dark .crypto-row:active {
  background-color: rgb(45, 45, 45);
}

.crypto-coin {
  display: flex;
  align-items: center;
  padding-right: 6px;
  max-width: 400px;
}

.crypto-coin h1 {
  font-size: 18px;
  width: 180px;
  min-width: 120px;
  max-width: 180px;
}

.crypto-coin img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.crypto-data {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.symbol {
  width: 90px;
  text-align: start;
  font-weight: 700;
}

.price {
  width: 90px;
  text-align: start;
}

.percentage-24h {
  width: 100px;
  text-align: start;
}

.price-7d {
  width: 100px;
  text-align: start;
}

.market-cap {
  width: 170px;
  text-align: end;
}

.green {
  color: rgb(0, 201, 10);
}

.red {
  color: red;
}

.labels {
  display: flex;
  justify-content: center;
}

.labels-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid #272761;
  border-top: 1px solid #272761;
  width: 80vw;
  font-weight: bold;
  color: rgb(45, 45, 45);
  transition: .4s;
}

#dark .labels-row {
  color: rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  border-top: 1px solid rgb(228, 228, 228);
}

.labels-coin {
  display: flex;
  align-items: center;
  max-width: 400px;
}
.crypto-coin h1 {
  font-size: 18px;
  width: 180px;
  min-width: 120px;
  max-width: 180px;
}
.labels-coin p {
  width: 226px;
  text-align: start;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 17px;
}

.labels-data {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 17px;
}

.symbol-label {
  width: 90px;
  text-align: start;
}

.price-label {
  width: 90px;
  text-align: start;
}

.label-24h {
  width: 100px;
  text-align: start;
}

.label-7d {
  width: 100px;
  text-align: start;
}

.market-cap-label {
  width: 170px;
  text-align: end;
}

.title-box {
  display: grid;
  justify-items: center;
}

.title-box h2 {
  width: 100%;
  text-align: center;
  color: #272761;
  margin-bottom: 18px;
  font-size: 28px;
  font-family: 'Saira Semi Condensed', sans-serif;
}

#dark .title-box h2 {
  color:rgb(228, 228, 228);
}

.title-box a {
  color: #272761;
  transition: .35s;
  text-decoration: none;
  border-bottom: 2px solid #272761;
}

#dark .title-box a {
  color: rgb(228, 228, 228);
  transition: .35s;
  text-decoration: none;
  border-bottom: 2px solid rgb(228, 228, 228);
}

.title-box a:hover {
  color: red;
  border-bottom: 2px solid red;
}

#dark .title-box a:hover {
  color: red;
  border-bottom: 2px solid red;
}

.title-image-box {
  display: flex; 
  justify-items: center;
}

.home-logo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  image-rendering: optimizeQuality;
  margin: 0 0 20px 0;
}

.placeholder {
  height: 80px;
}

@media screen and (max-width: 975px) {
  .crypto-data {
    display: flex;
    justify-content: space-between;
  }
  .crypto-row {
    width: 90vw;
  }
  .labels-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .labels-row {
    width: 90vw;
  }
  .symbol {
    display: none;
  }
  
  .price {
    width: 200px;
    text-align: end;
  }
  
  .percentage-24h {
    width: 200px; 
    text-align: end;
  }
  
  .price-7d {
    display: none;
  }
  
  .market-cap {
    display: none;
  }
  .symbol-label {
    display: none;
  }
  
  .price-label {
    width: 200px;
    text-align: end;
  }
  .label-24h {
    width: 200px;
    text-align: end;
  }
  
  .label-7d {
    display: none;
  }
  
  .market-cap-label {
    display: none;
  }
}

@media screen and (max-width: 695px) {
  .crypto-data {
    display: flex;
    justify-content: flex-end;
  }
  .labels-data {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .price {
    width: auto;
    text-align: end;
  }
  .percentage-24h {
    display: none;
  }
  .price-label {
    width: auto;
    text-align: end;
  }
  .label-24h {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .crypto-row:hover {
    background-color: rgb(228, 228, 228);
  }
  #dark .crypto-row:hover {
    background-color: rgb(25, 25, 25);
  }
  .title-box a:hover {
    color: #272761;
    border-bottom: 2px solid #272761;
  }
  
  #dark .title-box a:hover {
    color: #272761;
    border-bottom: 2px solid #272761;
  }
}

@media screen and (max-width: 425px) {
  .title-box h2 {
    font-size: 24px;
  }
}