.nav-box {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(8, 18, 46);
    height: 60px;
    width: 100vw;
    align-items: center;
    position: fixed;
    background-color: rgb(228, 228, 228);
}

nav a {
    font-size: 18px;
    color: #272761;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    transition: .4s;
}

nav a:hover {
    transform: translateY(-3px);
    color: red;
}