.nav-box {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid rgb(8, 18, 46);
    height: 45px;
    width: 100vw;
    align-items: center;
    position: fixed;
    background-color: rgb(228, 228, 228);
}

nav a {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 15px;
    color: #272761;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

nav a:hover {
    transform: scale(1.2);
    color: red;
}

nav a:active {
    color: red;
}

nav h1 {
    font-weight: 700;
}

.footer-box {
    display: flex;
    justify-content: center;
    background-color: rgb(228, 228, 228);
}

.footer-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 80px;
    background-color: rgb(228, 228, 228);
    width: 80vw;
}

.footer-container h4 {
    color: #272761;
    border-bottom: 2px solid #272761;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    padding-bottom: 4px;
}

.footer-logo {
    height: 26px;
    width: 26px;
    margin-right: 5px;
}

@media screen and (max-width: 975px) {
    .footer-container {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 80px;
        background-color: rgb(228, 228, 228);
        width: 90vw;
        margin-top: 10px;
    }
} 