section {
    background-color: rgb(228, 228, 228);
}

.news-title {
    margin-top: 80px;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-align: center;
    font-size: 28px;
}

.articles-container {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 40px 80px 100px 80px;
}

.article {
    box-shadow: 10px 10px 30px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 330px;
    transition: all .3s ease-in-out;
    font-family: 'Comfortaa', cursive;
}

.article:hover {
    transform: scale(1.04);
    z-index: auto;
    background-color: rgba(240, 240, 240, 0.822);
    overflow: hidden;
}

.article img {
    /* border: 2px solid rgb(235, 235, 235); */
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 210px; 
    width: 210px;
    min-width: 210px;
    overflow: hidden;
}

.article-link {
    text-decoration: none;
    color: #272761;
}

.article h2 {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

@media screen and (max-width: 420px){
    .articles-container {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding: 20px 20px 40px 20px;
    }
}