.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #272761;
    padding: 10px 20px 10px 0;
    color: #272761;
    caret-color: black;
    transition: .3s;
}

.search::placeholder {
    color: #272761;
}

.search:focus {
    outline: none;
    border-bottom: 2px solid red;
}