.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    background-color: rgb(228, 228, 228);
    border: none;
    outline: none;
    border-bottom: 2px solid #272761;
    border-radius: 0px;
    padding: 10px 20px 10px 0;
    color: #272761;
    caret-color: black;
    transition: .3s;
}

#dark .search {
    background-color: rgb(25, 25, 25);
    border-bottom: 2px solid rgb(228, 228, 228);
    caret-color: rgb(228, 228, 228);
    color: rgb(228, 228, 228);
}

.search::placeholder {
    color: #272761;
}

#dark .search::placeholder {
    color: rgb(228, 228, 228);
}

.search:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid red;
}

#dark .search:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid red;
}