#dark {
    background-color: rgb(25, 25, 25);
    color: rgb(228, 228, 228);
}

.toggle-theme {
    display: flex;
    align-items: center;
    float: left;
    margin-right: auto;
    margin-left: 20px;
}